{% load staticfiles %}
<!-- loads the path to your static files -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iMeem</title>
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type = "text/css" href="{% static 'music/style.css' %}"/> <!-- references your static directory -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
</head>
<body>
    <!-- navbar inverse changes it to dark theme-->
    <nav class = "navbar navbar-inverse">
        <div class = "container-fluid">
            <!-- the Header -->
            <div class = "navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <!-- icon that shows when resizing -->

                </button>
                <a class="navbar-brand" href="{% url 'music:index' %}">iMeem</a>

            </div>
            <!-- Items -->
            <div class = "collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!-- active darkens the item -->
                    <li class = "active">
                        <a href="{% url 'music:index' %}">
                            <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; <!-- non breaking space -->
                            Albums
                        </a>
                    </li>

                    <li class = "">
                        <a href="">
                            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; <!-- non breaking space -->
                            Song
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <h1>Here are all my albums</h1>
    <ul>
        {% if all_albums %} <!-- if they have albums, run this code -->

            {%for album in all_albums%}

            <li><a href = "{% url 'music:detail' album.id %}">{{album.album_title}}</a></li>

            {%endfor%}
        {% else %}
            <h3>You don't have any albums</h3>
        {% endif %}
    </ul>
</body>
</html>

 <!--
                icon bar is used three times to create a hamburger icon

                -->

