<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Here are all my albums</h1>
    <ul>
        {% if all_albums %} <!-- if they have albums, run this code -->

            {%for album in all_albums%}

            <li><a href = "{% url 'music:detail' album.id %}">{{album.album_title}}</a></li>

            {%endfor%}
        {% else %}
            <h3>You don't have any albums</h3>
        {% endif %}
    </ul>
</body>
</html>

 <!--
                url tells django to use the special url
                
                'music:detail' is namespace used in urls.py, the name of the url
                tells django to look for detail inside music app instead of the whole
                apps in your project

                album.id is the dynamic variable to be used in the url string

                -->



<!-- ((album.id)) -->


<!--Some pointers to keep in mind:
1) Loops and conditional statements are not followed by a colon(':')
2) The end of loops and conditional statements must be explicitly defined.
-->
